---
import PlayIcon from "@/assets/PlayIcon.astro";
import { MessageCircleQuestionIcon as ChatIcon } from "lucide-react";
import { Modal } from "../ui/modal";

const encodedText = "Dios los bendiga, tengo una pregunta";

const { videoId, videoTitle } = Astro.locals;
---

<footer
  class="w-full fixed bottom-0 pointer-events-none pb-5 bg-gradient-to-t from-accent to-transparent text-responsive"
>
  <div class="px-5 pointer-events-auto">
    <section
      class="w-full flex flex-col min-md:flex-row r-well !bg-accent/30 backdrop-blur-md rounded-lg justify-center min-md:justify-between items-center gap-3 r-well"
    >
      <article
        class="flex flex-col items-center md:items-start gap-1 last-preech-link"
      >
        <Modal
          videoId={videoId}
          client:visible
          header={`Ultima celebración: ${videoTitle}`}
        >
          <div slot="trigger">
            <button
              type="button"
              id="modal-footer"
              class="cursor-behavior uppercase tracking-wide items-center font-semibold text-xs min-md:text-sm text-pretty flex flex-row place-self-center md:place-self-start gap-x-2 animate-pulse duration-300 transition-all text-primary-title"
            >
              <PlayIcon />
              <span>Ver última celebración</span>
            </button>
          </div>
          <div class="overflow-clip rounded-lg inset-1">
            <lite-youtube
              videoid={videoId}
              autoload
              posterquality="maxresdefault"
              params="rel=0&enablejsapi=1"
            >
            </lite-youtube>
          </div>
        </Modal>
        <p
          class="tracking-wide font-semibold text-xs lg:text-lg text-foreground"
        >
          Celebraciones Dominicales: 9AM | 11AM
        </p>
      </article>
      <a
        href=`https://wa.me/573007869517?text=${encodedText}`
        aria-label="chat-with-us-button"
        class="hidden min-md:block text-primary-title cursor-behavior hover:text-primary-title-hover"
      >
        <ChatIcon size={36} />
      </a>
    </section>
  </div>
</footer>
