---
import PlayIcon from "@/assets/PlayIcon.astro";
import ChatIcon from "@/assets/ChatIcon.astro";

const encodedText = 'Dios los bendiga, tengo una pregunta'

---

<footer class="w-full fixed bottom-0 pointer-events-none pt-36 pb-5 bg-gradient-to-t from-neutral-50 dark:from-neutral-800 to-transparent text-responsive">
  <div class="px-5 lg:px-8 pointer-events-auto">
    <section
      class="w-full flex flex-col min-md:flex-row r-well backdrop-blur-md rounded-lg justify-center min-md:justify-between items-center gap-3 r-well"
    >
      <article
        class="flex flex-col items-center min-md:items-start gap-1 last-preech-link"
      >
        <button
          type="button"
          id="modal-footer"
          class="link-schema cursor-behavior uppercase tracking-wide font-semibold text-xs min-md:text-sm text-pretty flex flex-row items-center gap-x-2 animate-pulse duration-300 transition-all dark:text-amber-300!"
        >
          <PlayIcon />
          <span>Última celebración</span>
        </button>
        <p class="tracking-wide font-semibold text-xs lg:text-lg text-neutral-800 dark:text-neutral-200">
          Celebraciones Dominicales: 9AM | 11AM
        </p>
      </article>
      <a
        href=`https://wa.me/573007869517?text=${encodedText}`
        aria-label="chat-with-us-button"
        class="hidden min-md:block w-12 dark:text-amber-300! link-schema cursor-behavior"
      >
        <ChatIcon />
    </a>
    </section>
  </div>
</footer>

<script>
  import { isModalOpened } from "@/store";

  const modalButton = document.getElementById('modal-footer');

  modalButton?.addEventListener("click", () => {
    isModalOpened.set(true);
  });
</script>
