---
// import styles bundle
import "swiper/css/bundle";

// Interfaces
interface Slide {
  img?: string;
  name?: string;
}
interface Props {
  slides?: Array<Slide>;
}

// Props
const { slides } = Astro.props;
---

<article
  class="swiper !z-0 home-slider w-full min-md:w-1/2 h-[500px] rounded-2xl bg-neutral-200 dark:bg-neutral-800 overflow-clip"
>
  <figure class="swiper-wrapper will-change-contents">
    {
      slides?.map((image: Slide) => (
        <div class="swiper-slide">
          <img class="object-cover h-full w-full" src={image.img} alt={`Image of ${image.name} in home carousel`} />
        </div>
      ))
    }
  </figure>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</article>

<script>
  import Swiper from "swiper/bundle";

  document.addEventListener("astro:page-load", () => {
    const $homeSlider = document.querySelector(".home-slider");
    if ($homeSlider) {
      const swiper = new Swiper($homeSlider as HTMLElement, {
        autoplay: {
          delay: 2000,
        },
        spaceBetween: 30,
        loop: true,
        effect: "fade",

        // If we need pagination
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    }
  });
</script>
