---
import InfoIcon from "@/assets/InfoIcon.astro";
import CloseIcon from "@/assets/CloseIcon.astro";

interface Props {
  variant?: string
  reference: string
}

const {reference} = Astro.props;

---
<section class="notification-container mb-2 transition-all duration-300 ease-in-out" data-notification-reference={reference}>
     <div class="flex items-center gap-x-2 font-semibold text-xs min-md:text-sm">
         <InfoIcon />
         <slot />
     </div>
    <button type="button" class="cursor-behavior">
        <CloseIcon />
    </button>
</section>

<script>
  (() => {
    const DISMISS_PREFIX = `dismissNotification`;
    const $notifications = document.querySelectorAll(".notification-container");

    for ( const $notification of $notifications) {
      const $closeButton = $notification?.querySelector("button");
  
      const notificationRef = $notification ? ( ($notification as HTMLElement).dataset.notificationReference ) : "";
      const DISMISS_KEY = `${DISMISS_PREFIX}-${notificationRef}`;
  
      const isNotificationDismissed = sessionStorage.getItem(DISMISS_KEY) === "true";
      
      if(isNotificationDismissed) {
        $notification?.remove();
      };
  
      $closeButton?.addEventListener("click",() => {
        $notification?.remove();
        sessionStorage.setItem(DISMISS_KEY, "true");
      }, { once: true});
    }
  })();
</script>

<style scoped>
    @import "tailwindcss";

    .notification-container {
        @apply flex items-center justify-between rounded-md p-4;
        @apply bg-blue-200 border border-blue-300 text-blue-900 border-l-6;
    }

</style>