@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Ubuntu";
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src: local("Ubuntu Regular"), url("/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

h1,h2,h3,h4,h5,h6,.special-nav-link {
  font-family: "Ubuntu", sans-serif;
}

.layout-bg {
  @apply bg-gradient-to-b from-accent to-transparent;
}

.wrapper {
  margin: 0 auto;
  max-inline-size: 1125px;
  padding-inline: 1rem;
}

.nav-button {
  /* 1. Force both to behave like blocks */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-weight: 600;
  border-radius: 5rem;
  padding-inline: 0.8rem;
  padding-block: 0.8rem;
  @apply bg-transparent hover:bg-card;
}

.r-well {
  @apply bg-card px-6 py-4 rounded-lg border border-border;
}

.flex-responsive {
  @apply flex flex-col min-md:flex-row;
}

.text-responsive {
  @apply dark:text-white text-neutral-800;
}

.cursor-behavior {
  @apply duration-300 transition-all cursor-pointer;
}

.link-schema {
  @apply text-blue-600 hover:text-blue-900 dark:text-blue-400 hover:dark:text-blue-50;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-primary-title: var(--primary-title);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-sidebar: var(--sidebar);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-title: oklch(48.8% 0.243 264.376);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(97% 0.014 254.604);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(88.2% 0.059 254.128);
  --chart-2: oklch(27.557% 0.10544 258.737);
  --sidebar: oklch(0.985 0 0);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.26 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-title:oklch(82.8% 0.189 84.429);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(37.1% 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(84.699% 0.15154 86.471);
    --chart-2: oklch(0% 0 0);
    --sidebar: oklch(0.205 0 0);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
}