@import "tailwindcss";
@import "tw-animate-css";

.wrapper {
  margin: 0 auto;
  max-inline-size: 1125px;
  padding-inline: 1rem;
}

.nav-button {
  font-weight: 600;
  border-radius: 5rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  &.menu {
    &:hover {
      background-color: black;
      color: white;
    }
  }
}

mux-player {
  --controls: none;
}

.r-well {
  @apply px-6 py-4 dark:bg-neutral-800 bg-neutral-200 rounded-lg border border-neutral-300 dark:border-neutral-700;
}

.flex-responsive {
  @apply flex flex-col min-md:flex-row;
}

.text-responsive {
  @apply dark:text-neutral-50 text-neutral-800;
}

.bg-responsive {
  @apply transition-all duration-200;
  &.action {
    &.hover-icon {
    @apply text-zinc-800 dark:text-white group-hover:dark:text-white bg-transparent dark:bg-zinc-800 group-hover:dark:bg-zinc-900;
    }
  }
  &.card {
    @apply bg-zinc-200 dark:bg-zinc-800
  }
  &.picture-background {
    @apply bg-transparent dark:backdrop-blur-xl text-white;
    &.hover-icon {
      @apply text-white;
    }
  }
}

.cursor-behavior {
  @apply duration-300 transition-all cursor-pointer;
}

.link-schema {
  @apply text-blue-600 hover:text-blue-900 dark:text-blue-300 hover:dark:text-blue-50;
}