@import "tailwindcss";

.wrapper {
  margin: 0 auto;
  max-inline-size: 1125px;
}

.nav-button {
  font-weight: 600;
  border-radius: 5rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  &.menu {
    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.r-well {
  @apply p-4 bg-slate-50 dark:bg-slate-800/50 rounded-lg;
}