@import "tailwindcss";

.wrapper {
  margin: 0 auto;
  max-inline-size: 1125px;
  padding-inline: 1rem;
}

.nav-button {
  font-weight: 600;
  border-radius: 5rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  &.menu {
    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.r-well {
  @apply p-5 bg-slate-200 dark:bg-[#2b3649] rounded-lg;
}

.flex-responsive {
  @apply flex flex-col min-md:flex-row;
}

.text-responsive {
  @apply text-slate-50 dark:text-slate-900;
}

.cursor-behavior {
  @apply duration-300 transition-all cursor-pointer;
}

.link-schema {
  @apply text-blue-600 hover:text-blue-900 dark:text-blue-300 hover:dark:text-blue-50;
}