---
import Layout from "@/layouts/Layout.astro";
import { Clock, FunctionSquare } from "lucide-react";

const listOfEvents = [
  {
    id: "1",
    date: new Date("2026-05-26T09:30:00Z"),
    title: "Reunión Mujeres",
    icon: Clock,
    description: "Reunión semanal de mujeres en el salón principal.",
  },
  {
    id: "2",
    date: new Date("2026-01-24T09:30:00Z"),
    title: "Reunión Hombres",
    icon: Clock,
    description: "Primera Reunion de hombres 2026",
  },
  {
    id: "3",
    date: new Date("2026-01-29T09:30:00Z"),
    title: "Reunión Hombres",
    icon: Clock,
    description: "Primera Reunion de hombres 2026",
  },
];

// Helper Contant to get today date
const todayDate = new Date();
todayDate.setHours(0, 0, 0, 0);

/**
 *
 * Returns true if the event date is this week.
 * @param eventDate
 * @returns boolean
 */
const isSoon = (eventDate: Date) => {
  const limit = new Date(todayDate);
  limit.setDate(todayDate.getDate() + 7);
  limit.setHours(23, 59, 59, 999);
  return eventDate >= todayDate && eventDate <= limit;
};

/**
 * Retrieves the list of events ordered and filtered by date.
 * @returns Array of events
 */
const getEvents = () => {
  const events = listOfEvents.sort(
    (a, b) => a.date.getTime() - b.date.getTime(),
  );
  return events.filter((event) => event.date >= todayDate);
};
---

<Layout pageTitle="Próximos Eventos">
  <section class="w-full flex-responsive px-5 md:px-0 max-w-7xl mx-auto gap-5">
    <!-- Event Card -->
    <article class="w-full md:w-1/3 flex flex-col gap-3 relative">
      {
        getEvents().map(({ title, date, description }) => (
          <div class="bg-muted/30 hover:bg-muted/50 text-foreground rounded-2xl flex flex-row gap-x-3 p-4 border border-border relative">
            <span
              class:list={[
                "w-1 md:w-1 self-stretch shrink-0 rounded min-h-[40px]",
                isSoon(date)
                  ? "bg-green-600 animate-pulse"
                  : "bg-yellow-600/40",
              ]}
            />
            <div class="w-full flex flex-col gap-2 items-start text-xs pr-16">
              <p class="text-muted-foreground font-bold">
                {date.toLocaleDateString("es-ES", {
                  day: "numeric",
                  month: "long",
                  year: "numeric",
                })}
              </p>
              <span>
                <h3 class="font-bold">{title}</h3>
                <p class="text-muted-foreground">{description}</p>
              </span>
              {isSoon(date) && (
                <span class="text-xs text-muted-foreground absolute top-3 right-3 px-2 py-1 rounded-lg bg-muted/70">
                  Próximamente
                </span>
              )}
            </div>
          </div>
        ))
      }
    </article>
    <!-- Calendar -->
    <article class="w-full md:w-2/3 bg-muted/30 rounded-2xl p-5 md:min-h-full">
    </article>
  </section>
</Layout>
