---
import Layout from "@/layouts/Layout.astro";
import { Clock } from "lucide-react";

import bazar2025 from "@/images/iglesia/bazar-2025.webp";
import { Image } from "astro:assets";

const listOfEvents = [
  {
    id: "1",
    date: new Date("2026-05-26T09:30:00Z"),
    title: "Reunión Mujeres",
    icon: Clock,
    description: "Reunión semanal de mujeres en el salón principal.",
  },
  {
    id: "2",
    date: new Date("2026-01-28T09:30:00Z"),
    title: "Tiempo de Oración",
    icon: Clock,
    description: "Hora: 5:00 AM - Link de Zoom",
  },
  {
    id: "3",
    date: new Date("2026-01-30T09:30:00Z"),
    title: "Reunión Compañía T",
    icon: Clock,
    description: "Primera Reunion de hombres 2026",
  },
];

// Helper Contant to get today date
const todayDate = new Date();
todayDate.setHours(0, 0, 0, 0);

/**
 *
 * Returns true if the event date is this week.
 * @param eventDate
 * @returns boolean
 */
const isSoon = (eventDate: Date) => {
  const limit = new Date(todayDate);
  limit.setDate(todayDate.getDate() + 7);
  limit.setHours(23, 59, 59, 999);
  return eventDate >= todayDate && eventDate <= limit;
};

/**
 * Retrieves the list of events ordered and filtered by date.
 * @returns Array of events
 */
const getEvents = () => {
  const events = listOfEvents.sort(
    (a, b) => a.date.getTime() - b.date.getTime(),
  );
  return events.filter((event) => event.date >= todayDate);
};
---

<Layout pageTitle="Próximos Eventos">
  <section class="w-full flex-responsive px-5 md:px-0 max-w-7xl mx-auto gap-5">
    <ul class="w-full md:w-1/2 flex flex-col gap-3 relative">
      {
        getEvents().map(({ title, date, description }) => (
          <li class="bg-muted/30 hover:bg-muted/50 text-foreground rounded-2xl flex flex-row gap-x-3 p-4 border border-border relative">
            <div class="flex flex-row justify-between gap-2 w-full h-full">
              <div class="flex flex-row items-center gap-3">
                <span
                  class:list={[
                    "w-1 self-stretch shrink-0 rounded min-h-[40px]",
                    isSoon(date)
                      ? "bg-green-600 animate-pulse"
                      : "bg-yellow-600/40",
                  ]}
                />
                <div class="text-xs">
                  <p class="text-muted-foreground font-bold capitalize mb-5">
                    {date.toLocaleDateString("es-ES", {
                      day: "numeric",
                      weekday: "long",
                      month: "long",
                      year: "numeric",
                    })}
                  </p>
                  <span>
                    <h3 class="font-bold">{title}</h3>
                    <p class="text-muted-foreground text-pretty mt-1">
                      {description}
                    </p>
                  </span>
                </div>
              </div>
            </div>
            {isSoon(date) && (
              <span class="text-xs w-fit text-muted-foreground self-start shrink-0 px-2 py-1 rounded-lg bg-muted/70 -mt-1">
                Próximamente
              </span>
            )}
          </li>
        ))
      }
    </ul>
    <!-- Calendar -->
    <figure
      class="w-full md:w-1/2 bg-muted/30 rounded-2xl md:min-h-full overflow-clip"
    >
      <Image
        src={bazar2025}
        alt="imagen del bazar 2025"
        width={500}
        height={500}
        class="w-full h-full object-cover"
      />
    </figure>
  </section>
</Layout>
