---
import QuickInfo from "@/components/shared/QuickInfo.astro";
import Layout from "@/layouts/Layout.astro";
import { date } from "astro:schema";
import { Clock } from "lucide-react";

const listOfEvents = [
  {
    id: "1",
    date: new Date("2024-08-26T09:30:00Z"),
    title: "Reunión Mujeres",
    icon: Clock,
    description: "Reunión semanal de mujeres en el salón principal.",
  },
  {
    id: "2",
    date: new Date("2026-01-24T09:30:00Z"),
    title: "Reunión Hombres",
    icon: Clock,
    description: "Primera Reunion de hombres 2026",
  },
];


const isSoon = (eventDate: Date) => {
  const now = new Date();
  const timeDifference = eventDate.getTime() - now.getTime();
  const daysDifference = timeDifference / (1000 * 3600 * 24);
  return daysDifference >=7
};


const orderEventsByDate = () => {
  return listOfEvents.sort((a, b) => a.date.getTime() - b.date.getTime());
}
---

<Layout pageTitle="Próximos Eventos">
  <section class="w-full flex-responsive px-5 md:px-0 max-w-7xl mx-auto gap-5">
    <!-- Event Card -->
    <article class="w-full md:w-1/3 flex flex-col gap-3">
      {
        orderEventsByDate().map(({title, date, description}) => (
          <div class="bg-muted/30 hover:bg-muted/50 text-foreground rounded-2xl flex flex-row gap-x-2 p-4 border border-boder">
            <i class:list={['w-1 rounded h-full', isSoon(date) ? 'bg-green-600 animate-pulse' : 'bg-muted-foreground/30']} />
            <div class="w-full flex flex-col gap-2 items-start text-xs">
              <p class="text-muted-foreground font-bold">{date.toLocaleDateString()}</p>
              <span>
                <h3 class="font-bold">{title}</h3>
                <p class="text-muted-foreground">{description}</p>
              </span>
            </div>
          </div>
        ))
      }
    </article>
    <!-- Calendar -->
    <article class="w-full md:w-2/3 bg-muted/30 rounded-2xl p-5 md:min-h-full">
    </article>
  </section>
</Layout>
