---
import Layout from "@/layouts/Layout.astro";
import FileSymlinkIcon from "@/assets/FileSymlinkIcon.astro";
import ContractIcon from "@/assets/ContractIcon.astro";
import CrossIcon from "@/assets/CrossIcon.astro";
import { Image } from "astro:assets";

import PastorEduardo from "@/images/iglesia/EDUARDO.webp";
import PastorParmenio from "@/images/iglesia/PARME.webp";
---

<Layout pageTitle="Nuestra Iglesia">
  <main class="wrapper flex flex-col gap-3">
    <figure
      class="r-well w-full min-md:w-full aspect-square min-md:aspect-[16/9]"
    >
    </figure>
    <!-- Equipo Pastoral -->
    <!-- Mision y Vision -->
    <section
      class="mt-4 flex gap-6 flex-col text-center md:flex-row md:text-left"
    >
      <article class="r-well border border-zinc-300">
        <Image
          alt="Imagen del Pastor Eduardo Vargas. Ilustracion por Danny Ramos"
          height={200}
          width={200}
          class="rounded-full"
          src={PastorEduardo}
        />
        <h4 class="text-2xl mb-3 flex items-center gap-2">
          <ContractIcon />Eduardo Vargas - Pastor
        </h4>
        <p class="text-balance">
          Teólogo y Terapeuta Respiratorio. Casado con Melissa Pérez desde el
          2018. Papá de Esteban; Disfruta practicar ciclomontañismo.
        </p>
      </article>
      <article class="r-well border border-zinc-300">
        <Image
          alt="Imagen del Pastor Eduardo Vargas. Ilustracion por Danny Ramos"
          height={200}
          width={200}
          class="rounded-full"
          src={PastorParmenio}
        />
        <h4 class="text-2xl mb-3 flex items-center gap-2">
          <CrossIcon />Parmenio Buitrago - Pastor
        </h4>
        <p class="text-blance">
          Teólogo y productor de televisión. Casado con Claudia desde 1990; Papá
          de Carolina y Sofía; Dos pasiones me acompañan siempre: la lectura y
          la historia.
        </p>
      </article>
    </section>
    <!-- Links importantes  -->
    <section>
      <article class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <a
          href="https://drive.google.com/file/d/1PsSIH1ixwti6Ix_zteCwB7WdPDf7ulqO/view?usp=sharing"
          target="_blank"
          referrerpolicy="no-referrer"
          class="bg-blue-800 text-white px-6 py-5 flex-1 rounded-lg font-semibold hover:bg-blue-950 flex items-center justify-between"
          >Confesión de Fe
          <FileSymlinkIcon /></a
        >
        <a
          href="https://drive.google.com/file/d/1AJi0h21EzAMjXlxQhWsumSXP4cL2-TRt/view?usp=share_link"
          target="_blank"
          referrerpolicy="no-referrer"
          class="bg-blue-800 text-white px-6 py-5 flex-1 rounded-lg font-semibold hover:bg-blue-950 flex items-center justify-between"
          >Nuestros Principios
          <FileSymlinkIcon /></a
        >
        <a
          href="https://drive.google.com/file/d/1-l2aR8ls92op0SZWRsuxgc98--1Nca2C/view?usp=sharing"
          target="_blank"
          referrerpolicy="no-referrer"
          class="bg-blue-800 text-white px-6 py-5 flex-1 rounded-lg font-semibold hover:bg-blue-950 flex items-center justify-between"
          >¿Qué valoramos?
          <FileSymlinkIcon /></a
        >
      </article>
    </section>
    <!-- Mision y Vision -->
    <section
      class="mt-4 flex gap-6 flex-col text-center md:flex-row md:text-left"
    >
      <article class="r-well border border-zinc-300">
        <h4 class="text-2xl mb-3 flex items-center gap-2">
          <ContractIcon />Misión
        </h4>
        <p class="text-balance">
          Somos una comunidad cristiana de personas reconciliadas con Dios, y
          unos con otros, que reconocemos a Jesucristo, el Gran Pastor (Juan
          10), como nuestro único Señor y Salvador a quien amamos y obedecemos
          siendo y haciendo discípulos (Mateo 28:18-20, Lucas 10:27).
        </p>
      </article>
      <article class="r-well border border-zinc-300">
        <h4 class="text-2xl mb-3 flex items-center gap-2">
          <CrossIcon />Visión
        </h4>
        <p class="text-blance">
          Queremos ser una familia que vive y disfruta el Evangelio de la Gracia
          de Cristo mientras reflejamos su Gloria y Belleza en nuestra ciudad.
        </p>
      </article>
    </section>
  </main>
</Layout>
