---
import Layout from "@/layouts/Layout.astro";
let description = "Damos gracias a Dios por tu vida, y rogamos al Señor para que tu visita a nuestro sitio sea de mucha bendición para ti."

---

<Layout pageTitle="Nuestra Iglesia" pageDescription={description}>
  <main class="wrapper flex flex-col gap-3">
    <figure class="r-well w-full min-md:w-full aspect-square min-md:aspect-[16/9]">
      <video autoplay>
        <source src="https://www.youtube.com/watch?v=RXzy_5GjV6o&pp=ygUOcmVkaWwgbGF1cmVsZXM%3D" type="video/mp4">
      </video>
    </figure>
    <section class="">
      <h4 class="text-2xl">Testing</h4>
    </section>
  </main>
</Layout>