---
import Layout from "@/layouts/Layout.astro";
import PlayTriangleIcon from "@/assets/PlayTriangleIcon.astro";
import HomeCarousel from "@/components/shared/HomeCarousel.astro";
import RightArrow from "@/assets/RightArrow.astro";

const sliderImages = [
  {
    name: "image1",
    img: "/nav-redil-laureles.jpg",
  },
  {
    name: "image1",
    img: "https://images.pexels.com/photos/8646236/pexels-photo-8646236.jpeg",
  },
  {
    name: "image1",
    img: "https://images.pexels.com/photos/32846442/pexels-photo-32846442.jpeg",
  },
  {
    name: "image1",
    img: "https://images.pexels.com/photos/31621070/pexels-photo-31621070.jpeg",
  },
  {
    name: "image1",
    img: "https://images.pexels.com/photos/1559411/pexels-photo-1559411.jpeg",
  },
];
---

<Layout>
  <!-- Slider -->
  <main class="mt-6 px-8">
    <section class="z-auto flex-responsive gap-5">
      <HomeCarousel slides={sliderImages} />
      <article class="min-md:w-1/2 w-full min-md:pr-8">
        <h2 class="text-3xl mb-3">¡Hola, nos alegra que nos visites hoy!</h2>
        <p class="text-xl text-blue-800 dark:text-blue-200">
          Damos gracias a Dios por tu vida, y rogamos al Señor para que tu
          visita a nuestro sitio sea de mucha bendición para ti.
        </p>
        <p class="text-pretty text-lg my-4">
          Si estás aquí por primera vez, te recomendamos el enlace de “Nuestra
          Iglesia” donde encontrarás información sobre quiénes somos y lo que
          hacemos. En nuestro sitio también hay recursos a tu disposición que te
          ayudarán a afianzar tu fe cristiana.
        </p>
        <h3 class="text-2xl">Así que, ¡adelante…sigue…estás en tu casa!</h3>
      </article>
    </section>
  </main>
  <section class="my-6 px-8 flex-responsive gap-4">
    <article class="w-full h-96 min-md:h-72">
      <a
        class="last-preech-link bg-neutral-800 group cursor-behavior rounded-md h-full w-full flex items-end justify-start overflow-clip relative"
      >
        <img
          class="dark:group-hover:brightness-50 group-hover:scale-105 transition-all duration-300 w-full h-full object-cover mask-b-from-0 absolute"
          src="/miembros-2024.webp"
          alt=""
        />
        <div
          class="w-full p-5 absolute flex flex-row justify-between items-center gap-4 text-responsive bg-responsive picture-background"
        >
          <p
            class="group-hover:block ease-in-out transition-all duration-150 font-bold min-md:text-3xl text-xl"
          >
            Ver última predicación
          </p>
          <span class="hover-icon rounded-full p-2 bg-zinc-600 group-hover:bg-blue-600 transition-all duration-200">
            <PlayTriangleIcon />
          </span>
        </div>
      </a>
    </article>
    <article class="w-full h-96 min-md:h-72">
      <a
        href="/iglesia"
        rel="prefetch"
        class="bg-neutral-800 group cursor-behavior rounded-md h-full w-full flex items-end justify-start overflow-clip relative"
      >
        <img
          class="dark:group-hover:brightness-50 group-hover:scale-105 transition-all duration-300 w-full h-full object-cover mask-b-from-0 absolute"
          src="/nav-redil-laureles.jpg"
          alt=""
        />
        <div
          title="click aqui, nuestra iglesia"
          class="w-full p-5 absolute flex flex-row justify-between items-center gap-4 text-responsive bg-responsive picture-background"
        >
          <p
            class="group-hover:block ease-in-out transition-all duration-150 font-bold min-md:text-3xl text-xl"
          >
            Nuestra Iglesia
          </p>
          <span class="hover-icon">
            <RightArrow />
          </span>
        </div>
      </a>
    </article>
    <article class="w-full h-96 min-md:h-72">
      <a
        href="/iglesia"
        rel="prefetch"
        class="bg-neutral-800 group cursor-behavior rounded-md h-full w-full flex items-end justify-start overflow-clip relative"
      >
        <img
          class="dark:group-hover:brightness-50 group-hover:scale-105 transition-all duration-300 w-full h-full object-cover mask-b-from-0 absolute"
          src="/nav-redil-donacion.jpg"
          alt=""
        />
        <div
          title="click aqui, nuestra iglesia"
          class="w-full p-5 absolute flex flex-row justify-between items-center gap-4 text-responsive bg-responsive picture-background"
        >
          <p
            class="group-hover:block ease-in-out transition-all duration-150 font-bold min-md:text-3xl text-xl"
          >
            Donaciones
          </p>
          <span class="hover-icon">
            <RightArrow />
          </span>
        </div>
      </a>
    </article>
  </section>
</Layout>
