---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
export const prerender = true;
---

<Layout>
  <nav class="mt-4 py-2">
    <a href="/ingreso" class="py-3 px-5 bg-blue-200 rounded-4xl"> Ingreso</a>
  </nav>
  <Footer />
</Layout>
