---
import Layout from "@/layouts/Layout.astro"
import { SignIn } from "@clerk/astro/components";

export const prerender = true;
---
<Layout>
    <section class="relative flex justify-center items-center lg:h-screen h-screen">
        <SignIn forceRedirectUrl={'/membresia'} class:list={'absolute'} />
    </section>
</Layout>

<script>
</script>
