---
import Layout from "@/layouts/Layout.astro";
import { SignedOut, SignIn } from "@clerk/astro/components";
---
<Layout pageTitle="Ingreso">
  <SignedOut>
    <section class="relative flex justify-center items-center">
      <SignIn forceRedirectUrl={'/miembros'}/>
    </section>
  </SignedOut>
</Layout>