---
import Layout from "@/layouts/Layout.astro";
---
<Layout pageTitle="Ingreso">
  <!-- WIP Show when user signed out -->
  <!-- Show a Sign in section -->
<section>
  <article class="flex items-center justify-between">
    <div class="md:w-1/4 p-6 space-y-4 md:space-y-6 sm:p-8 r-well mx-auto">
      <form class="space-y-4 md:space-y-6" action="#">
        <div class="my-4">
          <label for="email" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Correo Electrónico</label>
          <input type="email" name="email" id="email" class="bg-neutral-50 border border-neutral-300 text-neutral-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@redillaureles.com" required="">
        </div>
        <div class="my-4">
          <label for="password" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Contraseña</label>
          <input type="password" name="password" id="password" class="bg-neutral-50 border border-neutral-300 text-neutral-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="********" required="">
        </div>
        <button
          class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          id="btnLoginSubmit"
          type="submit"
        >
          Inicio
        </button>
      </form>
    </div>
  </article>
</section>
</Layout>

<script>
  import Swal from 'sweetalert2';
  import { actions } from 'astro:actions';
  import type { AuthError } from 'firebase/auth';
  import { navigate } from 'astro:transitions/client';

  // Selectors
  const $loginForm = document.querySelector('form') as HTMLFormElement;
  const $btnLoginSubmit = document.querySelector('#btnLoginSubmit') as HTMLButtonElement;

  const submitAction = async() => {
    // Preparing payload
    const formData = new FormData($loginForm);

    try {
      const { error} = await actions.loginUser(formData);
      if (error) throw error;

      navigate('/miembros');

    } catch(error) {
      const firebaseError = error as AuthError;

      Swal.fire({
        icon: 'error',
        title: 'Error al iniciar sesión',
        text: firebaseError.message,
      })
    }
  }

  $loginForm?.addEventListener('submit', async function(event){
    event.preventDefault();
    submitAction();
  })
  
</script>

<style scoped>
@import "tailwindcss";
</style>