---
import Layout from "@/layouts/Layout.astro";
---
<Layout pageTitle="Ingreso">
  <!-- WIP Show when user signed out -->
    <section class="relative flex justify-center items-center">
      <!-- Show a Sign in section -->
  </section>
</Layout>

<script>
  
</script>