---
import Layout from "@/layouts/Layout.astro";
import FormattedInput from "@/components/react/formattedInput";
---

<Layout pageTitle="Ingreso">
  <!-- WIP Show when user signed out -->
  <!-- Show a Sign in section -->
  <section>
    <article class="flex items-center justify-between">
      <div class="md:w-1/4 p-6 space-y-4 md:space-y-6 sm:p-8 r-well mx-auto">
        <form class="space-y-4 md:space-y-6" method="POST" id="loginForm">
          <div class="my-4">
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white"
              >Correo Electr칩nico</label
            >
            <FormattedInput
              autoComplete="current-email"
              type="email"
              name="email"
              id="email"
              placeholder="name@redillaureles.com"
              required
            />
          </div>
          <div class="my-4">
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white"
              >Contrase침a</label
            >
            <FormattedInput
              client:load
              type="password"
              name="password"
              id="password"
              placeholder="Digita tu Contrase침a"
              autoComplete="current-password"
            />
          </div>
          <button
            class="disabled:bg-neutral-400 disabled:hover:bg-neutral-300 w-full bg-primary-title focus:ring-4 focus:outline-none focus:ring-primary-title-hover hover:bg-primary-title-hover rounded-lg text-sm px-5 py-2.5 text-center text-background font-bold cursor-behavior"
            id="btnLoginSubmit"
            aria-label="login-submit-button"
            type="submit"
            disabled
          >
            Inicio
          </button>
        </form>
      </div>
    </article>
  </section>
</Layout>

<script>
  import { Report, Notify } from "notiflix";
  import type { AuthError } from "firebase/auth";
  import { navigate } from "astro:transitions/client";
  import { actions } from "astro:actions";

  const modalOptions = {
    className: "text-center",
    titleFontSize: "18px",
    messageFontSize: "14px",
    svgSize: "50px",
  };

  document.addEventListener("astro:page-load", () => {
    const $loginForm = document.querySelector("#loginForm") as HTMLFormElement;
    const $btnLoginSubmit = document.querySelector(
      "#btnLoginSubmit",
    ) as HTMLButtonElement;

    if ($loginForm && $btnLoginSubmit) {
      $btnLoginSubmit.removeAttribute("disabled");

      const submitAction = async () => {
        const formData = new FormData($loginForm);

        try {
          $btnLoginSubmit.setAttribute("disabled", "disabled");
          const { error } = await actions.loginUser(formData);
          if (error) throw error;

          navigate("/miembros");

          setTimeout(() => {
            Notify.success("Bienvenido al Redil Laureles", {
              position: "center-bottom",
            });
          }, 600);
        } catch (error) {
          const firebaseError = error as AuthError;

          Report.failure(
            "Error al iniciar sesi칩n",
            `${firebaseError.message}`,
            "Cerrar",
            modalOptions,
          );
        } finally {
          $btnLoginSubmit.removeAttribute("disabled");
        }
      };

      $loginForm.addEventListener("submit", async function (event) {
        event.preventDefault();
        event.stopPropagation();
        submitAction();
      });
    } else {
      console.error("Login form or submit button not found in the DOM.");
    }
  });
</script>

<style scoped>
  @import "tailwindcss";
</style>
