---
import Layout from "@/layouts/Layout.astro";
import { SignedIn, SignedOut, SignIn } from "@clerk/astro/components";
---

<Layout pageTitle="Miembros">
  <SignedIn>
    <div class="wrapper px-5">
    </div>
  </SignedIn>
  <SignedOut>
    <section class="relative flex justify-center items-center lg:h-screen h-screen">
      <SignIn forceRedirectUrl={'/miembro'}/>
    </section>
  </SignedOut>
</Layout>