---
import Layout from "@/layouts/Layout.astro";
import { SignedIn, SignedOut, SignIn, SignUp } from "@clerk/astro/components";
---

<Layout pageTitle="Miembros" pageImage="/miembros-2024.webp">
  <SignedIn>
    <div class="wrapper">
      <h1 class="text-3xl font-bold">Portal de Miembros</h1>
    </div>
  </SignedIn>
  <SignedOut>
    <section class="relative flex justify-center items-center lg:h-screen h-screen">
      <SignIn forceRedirectUrl={'/miembro'}/>
    </section>
  </SignedOut>
</Layout>