---
import Layout from "@/layouts/Layout.astro";

let description =
  "Aquí encontrarás información sobre los diferentes ministerios que forman parte de nuestra comunidad, incluyendo sus objetivos y actividades.";
---

<Layout pageTitle="Ministerios" pageDescription={description}>
  <section class="wrapper mt-4 grid grid-cols-1 md:grid-cols-2 gap-6">
    <article class="r-well border border-zinc-300">
      <h4 class="text-2xl mb-3 flex items-center gap-2">Su Gracia en Mi</h4>
      <p class="text-blance">
        Buscamos juntas la provisión de Cristo y un mayor entendimiento de la
        Verdad, y creemos que –como mujeres– podemos hacer la diferencia solo
        por Su gracia en Mí. Anhelamos con gratitud que este conocimiento nos
        lleve a reflejar la imagen de Cristo en nuestros diferentes entornos, en
        el amor, la compasión y la misericordia hacia otros.
      </p>
    </article>
    <article class="r-well border border-zinc-300">
      <h4 class="text-2xl mb-3 flex items-center gap-2">Compañía T</h4>
      <p class="text-blance">
        Queremos ser una familia que vive y disfruta el Evangelio de la Gracia
        de Cristo mientras reflejamos su Gloria y Belleza en nuestra ciudad.
      </p>
    </article>
    <article class="r-well border border-zinc-300">
      <h4 class="text-2xl mb-3 flex items-center gap-2">Redil Junior</h4>
      <p class="text-blance">
        Creemos que los más pequeños serán los portavoces de la Palabra del
        Señor, y continuadores de su obra en la ciudad y en el mundo en general.
        Somos un equipo de servidores que acompañamos a niños y niñas a
        profundizar en el conocimiento de la Palabra de Dios, ayudándoles a
        entender las verdades del Evangelio de Jesucristo.
      </p>
    </article>
    <article class="r-well border border-zinc-300">
      <h4 class="text-2xl mb-3 flex items-center gap-2">Contra Corriente</h4>
      <p class="text-blance">
        En este ministerio los jóvenes aprenden a vivir y a disfrutar la
        juventud centrada en Cristo y en el evangelio. Es un espacio diferente
        donde los jóvenes preguntan, abren su mente y la renuevan con el
        objetivo de aprender a nadar contra las corrientes que todos están
        siguiendo hoy.
      </p>
    </article>
    <article class="r-well border border-zinc-300">
      <h4 class="text-2xl mb-3 flex items-center gap-2">Unidos</h4>
      <p class="text-blance">
        Para que un matrimonio esté cimentado en la verdad deberá estar centrado
        en Cristo; y lo que “creemos acerca de Dios determina la calidad de
        nuestro matrimonio”. Buscamos desde el ministerio UNIDOS orientar a las
        parejas hacia un mayor entendimiento del Evangelio en su matrimonio.
      </p>
    </article>
    <article class="r-well border border-zinc-300">
      <h4 class="text-2xl mb-3 flex items-center gap-2">Misiones</h4>
      <p class="text-blance">
        A través de la Misión Refugio en Granizal, cumplimos la misión de la
        iglesia en palabra y obra. Allí, compartimos el Evangelio y apoyamos el
        torneo femenino “Con el maltrato no trato”, un proyecto que protege a
        las niñas de riesgos sociales como el reclutamiento, la prostitución y
        las adicciones.
      </p>
    </article>
  </section>
</Layout>
