---
import Layout from "@/layouts/Layout.astro";
import MinisteriosAccordion from "@/components/MinisteriosAccordion";

let description =
  "Aquí encontrarás información sobre los diferentes ministerios que forman parte de nuestra comunidad, incluyendo sus objetivos y actividades.";
---

<Layout pageTitle="Ministerios" pageDescription={description}>
  <div class="container mx-auto py-8">
    <MinisteriosAccordion client:load />
  </div>
</Layout>
