---
import Layout from "@/layouts/Layout.astro";
import MinisteriosAccordion from "@/components/react/MinisteriosAccordion";

let description =
  "Aquí encontrarás información sobre los diferentes ministerios que forman parte de nuestra iglesia, incluyendo sus objetivos y actividades.";
---

<Layout pageTitle="Ministerios" pageDescription={description}>
  <div class="container mx-auto py-8">
    <MinisteriosAccordion client:visible />
  </div>
</Layout>
