---
import { SignedIn, UserButton, SignedOut } from "@clerk/astro/components";
import ModalMenu from "@/components/Menu.astro";
import LogoImage from "@/assets/LogoImage.astro";

---
<nav class="py-5 flex justify-between items-center max-inline-nav z-10">
  <a href="/" class="w-40 dark:text-white text-slate-900" >
    <LogoImage></LogoImage>
  </a>
  <ul class="flex gap-x-3 items-center">
    <ModalMenu></ModalMenu>
    <!-- User button profile when signed -->
    <SignedIn>
      <UserButton/>
    </SignedIn>
    <!-- Member portal link when there is no user -->
    <SignedOut>
      <li class="font-medium max-sm:hidden lg:block">
        <a href="/ingreso" class="nav-button border-2 border-slate-800 dark:bg-white text-slate-800 hover:bg-blue-300 lg:transition-colors lg:duration-200 sm:animate-none"> Membresía</a>
      </li>
    </SignedOut>
  </ul>
</nav>

<script>
</script>

<style>
  .nav-button {
  font-weight: 600;
  border-radius: 5rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  &.menu {
    border: 2px solid black;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}
</style>