---
import InfoIcon from "@/assets/InfoIcon.astro";
import CloseIcon from "@/assets/CloseIcon.astro";

interface Props {
  variant?: string
}

---
<section class="notification-container mb-2 transition-all duration-300 ease-in-out">
     <div class="flex items-center gap-x-2">
         <InfoIcon />
         <slot />
     </div>
    <button type="button" class="cursor-behavior">
        <CloseIcon />
    </button>
</section>

<script is:inline>
  const handleNotification = () => {
    const DISMISS_NOTIFICATION = `dismissNotification`;
    const $notification = document.querySelector(".notification-container");
    const $closeButton = $notification?.querySelector("button");

    const isNotificationDismissed = sessionStorage.getItem(DISMISS_NOTIFICATION) === "true";
    if(isNotificationDismissed) {
      $notification?.remove();
      return;
    };

    $closeButton?.addEventListener("click",() => {
        $notification?.remove();
        sessionStorage.setItem(DISMISS_NOTIFICATION, "true");
    }, { once: true});
  }

  handleNotification();

  document.addEventListener("astro:page-load", handleNotification)
</script>

<style scoped>
    @import "tailwindcss";

    .notification-container {
        @apply flex items-center justify-between rounded-md p-4;
        @apply bg-blue-200 border border-blue-300 text-blue-900 border-l-6;
    }

</style>