---
const { userInfo } = Astro.locals;
---

<main class="px-5 md:px-0 max-w-7xl mx-auto flex flex-col gap-5 mt-10">
  <section class="flex flex-col min-lg:flex-row gap-x-3">
    <h1 class="text-lg md:text-2xl text-center mx-auto">Bienvenido, {userInfo?.userName ?? userInfo?.userEmail}</h1>
  </section>

  <section class="w-full mt-5">
    <ul class="flex flex-col gap-2 min-md:flex-row h-20 min-sm:h-56">
      <li class="r-well w-full flex min-md:aspect-square">
        <p>Mis Cursos</p>
      </li>
      <li class="r-well w-full flex min-md:aspect-square">
        <p>Estatutos</p>
      </li>
      <li class="r-well w-full flex min-md:aspect-square">
        <p>Carta de Representación</p>
      </li>
    </ul>
  </section>
</main>
