---
import "@/styles/global.css";
import Footer from "@/components/shared/Footer.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redil Laureles - Iglesia Bautista</title>
    <meta name="description" content="Sitio oficial del Redil Laureles" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg">
    <!-- og meta properties -->
    <meta property="og:image" content="/img_meta.jpg">
    <meta property="og:title" content="Redil Laureles - Iglesia Bautista">
    <meta property="og:description" content="Esperamos que este espacio sea de mucha bendición para tu vida. Te invitamos a conocer quiénes somos y a explorar los recursos que tenemos para ti. ¡Siéntete bienvenido!">
    <meta property="og:url" content="https://www.elredillaureles.org">
    <ClientRouter />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"></script>
  </head>
  <body>
    <slot></slot>
    <Footer />
  </body>
</html>


