---
import "@/styles/global.css";
import Footer from "@/components/shared/Footer.astro";
import UIModalVideo from "@/components/ui/modalVideo";
import { ClientRouter } from "astro:transitions";
import Nav from "@/components/shared/Nav.astro";
const isLoggedIn = Astro.locals.isLoggedIn;
import '@justinribeiro/lite-youtube';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redil Laureles - Iglesia Bautista</title>
    <meta name="description" content="Sitio oficial del Redil Laureles" />
    <ClientRouter />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"></script>
  </head>
  <body>
    <slot></slot>
    {!isLoggedIn && <Footer />}
  </body>
</html>


