---
import "@/styles/global.css";
import Footer from "@/components/shared/Footer.astro";
import UIModalVideo from "@/components/ui/modalVideo";
import { ClientRouter } from "astro:transitions";
import Nav from "@/components/shared/Nav.astro";
const isLoggedIn = Astro.locals.isLoggedIn;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redil Laureles - Iglesia Bautista</title>
    <meta name="description" content="Sitio oficial del Redil Laureles">
		<ClientRouter />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"></script>
  </head>
  <body>
		<UIModalVideo client:load />
    <main class="px-5 pt-28 gap-5  min-h-[calc(100vh-7rem)] text-center relative">
      <div class="absolute px-5 top-0 left-0 right-0">
        <Nav />
      </div>
      <div
        class="absolute -z-10 top-0 left-0 w-full h-full bg-gradient-to-b dark:from-neutral-800 from-neutral-100 to-transparent overflow-clip brightness-30 rounded-b-4xl"
      >
      </div>
      <article
        class="text-center flex flex-col justify-center items-center relative"
      >
      <div class="wrapper">
        <p
          class="text-4xl md:text-5xl font-bold mb-3 text-blue-700 dark:text-amber-300"
        >
          Bienvenido al Redil Laureles
        </p>
        <p class="text-lg md:text-xl">
          Damos gracias a Dios por tu visita. Esperamos que este espacio sea de
          mucha bendición para tu vida. Te invitamos a conocer quiénes somos y a explorar los recursos que
          tenemos para ti. ¡Siéntete bienvenido!
        </p>
        <span class="flex-responsive justify-center gap-3 mt-5">
          <p class="r-well font-bold text-balance">Domingo Celebraciones: 9AM | 11AM</p>
          <p class="r-well font-bold text-balance">Miércoles - Rebaño: 7:00 PM</p>
        </span>
      </div>
      <div class="w-6xl max-w-full mx-auto mt-10 overflow-clip rounded-2xl shadow-lg">
        <lite-youtube videoid="d0HIs_vBf30"></lite-youtube>
      </div>
      </article>
    </main>
    <slot />
    {!isLoggedIn && <Footer /> }
  </body>
</html>
