---
import '@/styles/global.css';
import Nav from '@/components/shared/Nav.astro';
import Footer from '@/components/shared/Footer.astro';
import { ClientRouter } from "astro:transitions";

const { isLoggedIn } = Astro.locals;

interface Props {
	pageTitle? : string,
	pageDescription? : string
}

const { pageTitle, pageDescription } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Sitio oficial del Redil Laureles">
		<title>El Redil Laureles {pageTitle && `- ${pageTitle}`}</title>
		<ClientRouter />
	</head>
	<body>
		<div class:list={['px-5 mb-3 flex flex-col justify-between layout-bg min-md:min-h-32', pageTitle && 'relative pb-7 mb-3 min-h-52']}>
			<Nav></Nav>
			{ pageTitle &&
			<div class:list={["wrapper w-full h-full top-0 left-0", pageDescription && "flex flex-col justify-between min-lg:flex-row items-center"]}>
				<h1 class="tracking-wide text-5xl text-center text-blue-800 dark:text-blue-300 font-extrabold">{pageTitle}</h1>
				<p class:list={["min-md:w-1/2 text-blue-950 dark:text-blue-50 text-lg", "max-md:text-center max-md:mt-5"]}>{pageDescription}</p>
			</div>
			}
		</div>
		<main class:list={[isLoggedIn && 'pb-32']}>
			<slot />
		</main>
		{!isLoggedIn && <Footer /> }
	</body>
	<script is:inline src="https://cdn.jsdelivr.net/npm/@mux/mux-player" defer></script>
</html>

<style scoped>
  @import "tailwindcss";

  @font-face {
    font-family: "Ubuntu";
		font-display: swap;
		font-weight: 400;
		font-style: normal;
    src: local("Ubuntu Regular"), url("/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  }

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Ubuntu", sans-serif;
		@apply text-neutral-800 dark:text-white bg-neutral-100 dark:bg-neutral-600;
	}

	.max-inline-nav {
		max-inline-size: 1125px;
		margin: 0 auto;
	}

	.layout-bg {
		@apply bg-gradient-to-b from-neutral-200 dark:from-neutral-950 to-transparent;
	}
</style>
