---
import './src/styles/global.css';
import '@/styles/global.css';

import {ClientRouter} from 'astro:transitions';
import Nav from '@/components/Nav.astro';
import Footer from '@/components/Footer.astro';

interface Props {
	pageTitle? : string;
	pageImage? : string
}


const {pageTitle, pageImage} = Astro.props as Props;
console.log(pageImage);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>El Redil Laureles - Iglesia Bautista</title>
		<ClientRouter />
	</head>
	<body class="bg-white dark:bg-slate-700 text-slate-800 dark:text-slate-200">
		<div class:list={['px-6 flex flex-col justify-between ', pageTitle && 'relative pb-7 mb-3 min-h-52 min-lg:min-h-96 bg-slate-200 dark:bg-slate-800 overflow-clip']}>
			<Nav></Nav>
			{ pageTitle &&
			<figure class="w-full h-full top-0 left-0">
				<h1 class="text-3xl font-bold">{pageTitle}</h1>
				{pageImage && <img src={pageImage} alt={pageImage ? 'Imagen de Section' + pageTitle : ''} class="mask-b-from-0 absolute top-0 left-0 opacity-25 w-full h-full object-cover object-center bg-blend-soft-light" />}
			</figure>
			}
		</div>
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	@import "tailwindcss";

  @font-face {
    font-family: "Ubuntu";
    src: url("/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  }

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Ubuntu", sans-serif;
		@apply text-slate-800 dark:text-white;
	}

	.max-inline-nav {
		max-inline-size: 1125px;
		margin: 0 auto;
	}
</style>
